﻿@model EasyShop.Models.View.UserLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="side-image">
    <div class="images-wrapper"></div>
    <div class="side-image-content">
        <h4>Get started</h4>
        <h1>Login to an existing account or create a new one!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
        </p>

        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBoxFor(m => m.Email)

                @Html.ValidationMessageFor(m => m.Email)
            </p>
            <p>
                @Html.TextBoxFor(m => m.Password)

                @Html.ValidationMessageFor(m => m.Password)
            </p>
            <p>
                <button class="button" type="submit">Login</button>
            </p>
            <p>
                @Html.ValidationSummary()
            </p>
        }
    </div>
</div>

