﻿<section class="designer-form">
    <nav class="steps">
        <ul>
            <li>
                <a ui-sref-active="active" ui-sref=".profile">
                    Basic information
                </a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref=".design">
                    Design
                </a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref=".theme-picker">
                    Theme picker
                </a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref=".finish">
                    Finish
                </a>
            </li>
        </ul>
    </nav>


    <div class="form-wrapper">
        <form id="designer-form" ng-submit="processForm()">
            <div class="form-view" ui-view>

            </div>
        </form>
    </div>
</section>

<section class="designer-preview">
    <iframe id="iframe-preview" src="/Designer/PollPreviewWindow">
        
    </iframe>
</section>
