﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="EasyShop.Designer">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Designer</title>
    <link rel="stylesheet" href="~/Content/designer.css" type="text/css"/>
</head>
<body class="designer">

    <header>
        <h1>
            EasyShop <i>Designer</i>
        </h1>
    </header>
    <main class="container" ui-view></main>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="~/Scripts/min/app.js"></script>
</body>
</html>
