﻿@import 'base/reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$sans-serif: 'Open Sans';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body.designer {
    header {
        background: black;
        color: white;
        padding: .8rem;
    }
    main.container {
        min-height: 660px;
        section {
            @include outer-container;
            height: inherit;
            min-height: inherit;

            &.designer-form {
                @include span-columns(4);
                position: relative;

                nav.steps {
                    float: left;
                    min-height: 40px;
                    width: 100%;
                    clear: both;

                    ul {
                        list-style: none;
                        display: table;
                        li {
                            display:table-cell;
                            width: auto;
                            padding: 0.45rem;

                            a {
                                text-decoration: none;
                                font-weight: normal;
                                color: #2461e0;

                                &:hover {
                                    
                                }
                            }

                            &:after {
                                content: '>';
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                    }
                }

                div.form-wrapper {
                    margin: 0 auto;
                    width: 80%;
                }
            }
            &.designer-preview {
                @include span-columns(8);
                background-color: #f2f2f2;
                border-left: 1px dashed #2461e0;
                iframe {
                    border:0;
                    padding:0;
                }
            }
        }
    }
}