﻿@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// Bourbon + Neat + Bitters
@import 'bourbon/bourbon';
@import 'neat/neat';

// Base
@import 'base/variables';
@import 'base/forms';


// Modules
@import 'modules/header';
@import 'modules/footer';
@import 'modules/bullet-panels';
@import 'modules/side-image';
@import 'modules/login';
@import 'modules/feature-icons';


html {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    //@include outer-container;
}