﻿<header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" class="mobile-logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
        </a>
        <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
        <nav role="navigation">
            <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                <li class="nav-link"><a href="@Url.Action("Index", "HowItWorks")">How It Works</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-link"><a href="@Url.Action("Index", "Designer")">Designer</a></li>
                }
                <li class="nav-link logo">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
                    </a>
                </li>
                <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
                <li id="js-centered-more" class="nav-link more">
                    <a href="javascript:void(0)">Documentation</a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)">Submenu Item</a></li>
                        <li><a href="javascript:void(0)">Another Item</a></li>
                        <li class="more">
                            <a href="javascript:void(0)">Item with submenu</a>
                            <ul class="submenu fly-out-right">
                                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                                <li><a href="javascript:void(0)">Another Item</a></li>
                            </ul>
                        </li>
                        <li class="more">
                            <a href="javascript:void(0)">Another submenu</a>
                            <ul class="submenu fly-out-right">
                                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                                <li><a href="javascript:void(0)">An Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-link">
                        <a href="@Url.Action("Logout", "Auth")">
                            Log out
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-link"><a href="@Url.Action("Register", "Auth")">Sign up</a> <i>or</i> <a href="@Url.Action("Login", "Auth")">Login</a></li>
                }
                
            </ul>
        </nav>
    </div>
</header>
