﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EasyShop</title>
    <link rel="stylesheet" href="~/Content/main.css" type="text/css"/>
</head>
<body>
    @Html.Partial("_Header")

    <main>
        @RenderBody()
    </main>   
    @Html.Partial("_Footer")

    <script src="~/Scripts/min/"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
