﻿ul.features {
    li {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 9em;
        font-size: 1.25em;
        letter-spacing: -0.5px;

        &:before {
            display: block;
            margin: 0 auto 0.35em auto;
            border-radius: 100%;
            background: transparent;
            font-size: 2.75em;
            width: 2.1em;
            height: 2.1em;
            line-height: 2.1em;
            text-align: center;
            box-shadow: 0 0 0 1px #dee0e3;
            cursor: default;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }
}

@media screen and (max-width: 1280px)
{
    ul.features {
        li {
            width: 8.5em;
        }
    }
}
