﻿input, textarea {
    padding: 12px 7px;
    margin: 10px auto;
    outline-color: $blue;
    outline-width: 1px;
    border-radius: 3px;
    border: 1px solid $grey;
}

button, input[type="submit"], .button {
    
}